body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url(img/bg.png) ;
  background-size: cover;
  color: #000000;
  padding: 20px;

}

h1 {
  background-color: #000000;
  padding: 20px;
  border-radius: 15px;
  margin: 20px auto;
  width: fit-content;
  max-width: 70%;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
}

.overlay {
  /* background: rgba(0.9, 0.9, 0.9, 0.99) ; */
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
} 

.clear-btn {
  margin-top: 20%;
  padding: 15px 25px;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: 20px;
  cursor: pointer;
}
.clear-btn:hover {
  background-color: #555;
}

.container {
  max-width: 60%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
canvas {
  border: 1px solid #555;
  margin-top: 20px;
  max-width: 100%;
  background-color: #ffffff;
}
input[type="text"], input[type="file"] {
  margin: 10px 20px;
  padding: 15px;
  width: 70%;
  box-sizing: border-box;
  background:transparent;
  color: #000000;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: 20px;

}

input[type="color"], input[type="number"], select {
  width: 100px;
  height: 30px;
  font-size: 20px;
}

input::placeholder {
  color: #414141;
  opacity: 1;
}

label {
  margin: 10px 0;
  font-size: 20px;
}

.gallery-btn {
  position: absolute;
  top: 30px;
  right: 15%;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 20px 30px;
  font-size: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.gallery-btn:hover {
  background-color: #252525;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

button {
  margin-top: 10px;
  padding: 15px 25px;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: 20px;
  cursor: pointer;
}
button:hover {
  background-color: #555;
}
#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 7%;
}
.gallery-item {
  position: relative;
}
.gallery-item img {
  width: 150px;
  height: auto;
  border: 2px solid #444;
  border-radius: 6px;
  transition: transform 0.2s;
}
.gallery-item img:hover {
  transform: scale(1.05);
}
.share-btn,
.download-btn {
  position: absolute;
  bottom: 5px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 4px 6px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.share-btn {
  right: 5px;
}
.download-btn {
  left: 5px;
}
.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(255, 0, 0, 0.8);
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 20px;
  padding: 0;
  cursor: pointer;
} 